header 
    h1 PlatziGames
    //- Uso de condicionales, en caso de que el usuario ya exista o la variable
    if usuario
        a Hola #{usuario}
    else
        a.boton Registro
        //- Con el block añade el codigo, pero le avise que vamos a agregar mas codigo, lo añade al mismo nivel que el header