extends componentes/plantilla.pug
//- Tenemos que especificar que se añade el contenido con block
//- Sin el extend, solo con include va a meter todo dentro del header
block contenidos
        //- Lo mismo que el include, pero te permite añadir codigo adicional
        section.intro
            //- En el caso de una sola etiqueta, con poner .tanto crea un div con esa etiqueta dentro :
            .intro__imagen: img(src="./images/imagen.png", alt="")
            //- Creacion de un div, de forma rapida
            .intro__contenido
                //- Uso de Variables o matriz
                h2 #{titulos[0]}
                //- Con el | pug toma todos los valores como dentro del p
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    | Lorem ipsum dolor sit amet consectetur adipisicing.
                    span.
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                a.boton Leer Mas
        //- Uso de un ciclo para creacion de etiquetas
            ul
                each titulo in titulos
                    li=titulo
        main.contenido
            //- Llamar un mixin, son como funciones
            +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicing.')
            +caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicing.')
            +caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet consectetur adipisicing.')
